@import url("https://fonts.googleapis.com/css2?family=Acme&family=Cute+Font&family=Poor+Story&family=Single+Day&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #ffd900;
}
::-moz-selection {
    background: #ffd900;
}

::-webkit-scrollbar {
    width: 8px;
    height: 5px;   
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    height: 100%;
    background: #374045;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

/* --------------------------------- */

/* A container to hold the flip card and the inside page */
.card {
    transition: all 1s ease;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
    transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
    perspective: 100rem;
    transition: all 1s ease;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
    transform-style: preserve-3d;
    transition: all 1s ease;
}

/* Specifically targeting the <video> element */
.video__container {
    clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
}

.inside-page {
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
    transition: all 1s ease;
}

/* --------------------------------- */

.single__font {
    font-family: "Single Day", cursive;
}

.poor__font {
    font-family: "Poor Story", cursive;
}

.cute__font {
    font-family: "Cute Font", cursive;
}

.acme__font {
    font-family: "Acme", sans-serif;
}

/* --------------------------------- */
.post-item_link:hover,
.post-item_link:hover .post-item_date {
    text-decoration: none;
    color: #fff;
}
.post-item_link:hover .post-item_bg {
    transform: scale(10);
}